<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" sizes="96x96" type="image/png" href="https://www.bouyguestelecom.fr/skin/frontend/bytel/default/medias/images/favicons/favicon-96x96.png">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  </head>
  <body>
  <center>
      Please login to Google account to access the page : 
      <a href="{{ .link }}"><button type="button" class="btn btn-primary" >Google authorization.</button></a>
  </center>
  </body>
</html>
