<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documents certification v1.2</title>
    <link rel="icon" sizes="96x96" type="image/png" href="https://www.bouyguestelecom.fr/skin/frontend/bytel/default/medias/images/favicons/favicon-96x96.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/uploader.css">
      <style>
        * {
            font-family: /* system-ui,-apple-system,"Segoe UI", */ Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
        header {
            line-height: 50px;
        }

        /* <link rel="stylesheet" href="/uploader.css"> */
        .note {
            width: 500px;
            margin: 50px auto;
            font-size: 1.1em;
            color: #333;
            text-align: justify;
        }
        #drop-area {
            border: 2px dashed #ccc;
            border-radius: 20px;
            min-width:300px;
            width: 45%;
            margin: 20px auto;
            padding: 20px;
        }
        #drop-area.highlight {
            border-color: blue;
        }
        p {
            margin-top: 0;
        }
        .my-form {
            margin-bottom: 10px;
        }
        #gallery {
            margin-top: 10px;
        }
        #gallery img {
            width: 150px;
            margin-bottom: 10px;
            margin-right: 10px;
            vertical-align: middle;
        }
        .button {
            display: inline-block;
            padding: 10px;
            background: #ccc;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid blue;
        }
        .button:hover {
            background: #ddd;
        }
        #fileElem {
            display: none;
        }
    </style>

</head>

<body>
    <header class="d-flex justify-content-between bd-highlight mb-3 border-bottom shadow-sm bg-light">
        <div class="p-2 bd-highlight"><img height="50px" src="/logo-innovation-lab-v2.png" /></div>
        <div class="p-2 bd-highlight"><a href="/">BTrust &gt; <strong>VERIFY</strong></a></div>
        <div class="p-2 bd-highlight"><img height="50px" src="https://blog.webnet.fr/wp-content/uploads/2019/02/ethereum-logo.png"/></div>
    </header>

    <script lang="javascript">

        $(document).on('change', '.custom-file-input', function (event) {
            $(this).next('.custom-file-label').html(event.target.files[0].name);
        })

        $('.alert .close').live("click", function (e) {
            $(this).parent().hide();
        });

        
        function raiseAlert(message) {
            $('#alerts').append(
                '<div class="alert">' +
                '<button type="button" class="close" data-dismiss="alert" onclick="closeAlert()">' +
                '&times;</button>' + message + '</div>');
            $('#alerts').show();
        }

        function closeAlert() {
            $("#alerts").hide();
        }


        function anchorOneFile() {
            var form = $('#anchoringFile');
            var formData = new FormData();
            formData.append('file', document.getElementById('customFile').files[0]);
            var url = form.attr('action');
            console.log("url:" + url);
            document.getElementById('txResponse').innerHTML = "";
          
            $.ajax({
                type: "POST",
                url: url,
                contentType: false,
                processData: false,
                cache: false,
                data: formData,
                success: function (response) {
                    console.log(response);
                    var obj = JSON.parse(JSON.stringify(response))

                    document.getElementById('txResponse').innerHTML += "\nYour transaction hash is ";
                    document.getElementById('txResponse').innerHTML += "<a href=\"https://ropsten.etherscan.io/tx/" + obj.tx + "\" target=\"_blank\"> " + obj.tx + " </a>";
                    // window.alert(obj.tx);
                },
                error: function (xhr,err) {
                    if (xhr.status === 401) {
                        raiseAlert("Your are not loggued, please login with your Google Account.");
                    } else {
                        var obj = JSON.parse(JSON.stringify(err))
                        raiseAlert("Error message: " +obj.error);
                    }
                }
            });
        }

        function verifyOneFile() {
            var form = $('#verifyOnFile');
            var formData = new FormData();
            var uploadFile = document.getElementById('customVerifyFile').files[0];
            formData.append('file', uploadFile);
            var url = form.attr('action');
            console.log("url:" + url);
            document.getElementById('checkResponse').innerHTML = "";
            $.ajax({
                type: "POST",
                url: url,
                contentType: false,
                processData: false,
                cache: false,
                data: formData,
                success: function (response) {
                    console.log(response);
                    var obj = JSON.parse(JSON.stringify(response))

                    document.getElementById('checkResponse').append(obj.message);
                    // window.alert(obj.tx);
                },
                error: function (err) {
                    if (err.status == 406) {
                        raiseAlert("Your transaction is still being proceed, please retry later.");
                    } else {
                        var obj = JSON.parse(JSON.stringify(err.responseJSON));
                        console.log(obj);
                        raiseAlert("Error your document \"" + uploadFile.name + "\" and your hash don't correspond, <br>  message: " + obj.error);
                    }
                }
            });
        }

        function getfile() {
            var txhash = document.getElementById('getfilehash').value.trim();
            var url = "/api/txhash/" + txhash;
            console.log(url);

            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    window.location = url;
                },
                error: function (err) {
                    var obj = JSON.parse(JSON.stringify(err));
                    console.log(obj);
                    if (obj.responseJSON) {
                        raiseAlert("Error <br>  message: " + obj.responseJSON.error);
                    } else {
                        raiseAlert("Error your document is not found, <br>");
                    }

                },
                statusCode:{
                    401: function() {
                        raiseAlert("Error message:Please login with Google Account.");
                    }
                }
            });
        }
    </script>
    <div id="alerts" class="alert alert-danger" role="alert" style="display:none;"></div>
    <div class="container">
        <div id="content">
            <nav class="nav nav-tabs">
                <a href="#certificate" class="nav-item nav-link active" data-toggle="tab"></a>                
            </nav>

            <div id="my-tab-content" class="tab-content">
               <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <p class="lead">Certify your document...<br>
                Drag and drop the file you want to verify in this area bellow.</p>
            <div id="alerts" class="alert alert-danger" role="alert" style="display:none;"></div>
            </div>

              <div id="drop-area">
             <form id="verifyOnFile" class="my-form" action="/api/anchor" method="POST" enctype="multipart/form-data">
                <center>
                    <img src="/upload.png" width="100px"><br>
                    <input type="file" id="fileElem" accept="image/*,.pdf,application/msword, application/pdf" onchange="handleFiles(this.files)">
                    <label class="button" class="w-100 btn btn-lg btn-outline-primary" for="fileElem">Validate</label>
                </center>
            </form>
            <progress id="progress-bar" max=100 value=0></progress>
            <div id="gallery" /></div>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-primary" onclick="cleanGallery()">Clear</button>
            <a class="btn btn-primary" href="/">Return Home</a>
        </div>

        <div id="checkResponse">
        </div>
        
        <footer class="pt-4 my-md-5 border-top">
            <div class="row">
                <div class="col-1 col-md text-center">
                    <small class="d-block mb-3 text-muted">&copy; Bouygues Telecom 2020</small>
                </div>
            </div>
        </footer>
              
                  
                   
                </div>
            </div>
        </div>
    </div>


    </div>

      <script lang="javascript">



    // ************************ Drag and drop ***************** //
let dropArea = document.getElementById("drop-area")

// Prevent default drag behaviors
;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
  dropArea.addEventListener(eventName, preventDefaults, false)   
  document.body.addEventListener(eventName, preventDefaults, false)
})

// Highlight drop area when item is dragged over it
;['dragenter', 'dragover'].forEach(eventName => {
  dropArea.addEventListener(eventName, highlight, false)
})

;['dragleave', 'drop'].forEach(eventName => {
  dropArea.addEventListener(eventName, unhighlight, false)
})

// Handle dropped files
dropArea.addEventListener('drop', handleDrop, false)

function preventDefaults (e) {
  e.preventDefault()
  e.stopPropagation()
}

function highlight(e) {
  dropArea.classList.add('highlight')
}

function unhighlight(e) {
  dropArea.classList.remove('active')
}

function handleDrop(e) {
  var dt = e.dataTransfer
  var files = dt.files

  handleFiles(files)
}

let uploadProgress = []
let progressBar = document.getElementById('progress-bar')
progressBar.style.visibility = "hidden"

function initializeProgress(numFiles) {
  progressBar.value = 0
  progressBar.style.visibility = "visible"
  uploadProgress = []

  for(let i = numFiles; i > 0; i--) {
    uploadProgress.push(0)
  }
}

function updateProgress(fileNumber, percent) {
  uploadProgress[fileNumber] = percent
  let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
  console.debug('update', fileNumber, percent, total)
  progressBar.value = total
}

function handleFiles(files) {
  files = [...files]
  initializeProgress(files.length)
  files.forEach(uploadFile)
  files.forEach(previewFile)
}

function previewFile(file) {
  let reader = new FileReader()
  reader.readAsDataURL(file)
  reader.onloadend = function() {
    let img = document.createElement('img')
    img.src = reader.result
    document.getElementById('gallery').appendChild(img)
  }
}

function cleanGallery(){
    document.getElementById('gallery').innerHTML = ""
    document.getElementById('checkResponse').innerHTML = ""
    progressBar.value = 0
    progressBar.style.visibility = "hidden"
    
}

function uploadFile(file, i) {
  var url = '/api/anchor'
  var xhr = new XMLHttpRequest()
  xhr.responseType = 'json'
  var formData = new FormData()
  xhr.open('POST', url, true)
  xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

  // Update progress (can be used to show progress indicator)
  xhr.upload.addEventListener("progress", function(e) {
    updateProgress(i, (e.loaded * 100.0 / e.total) || 100)
  })

  xhr.addEventListener('readystatechange', function(e) {
    if (xhr.readyState == 4 && xhr.status == 200) {
      updateProgress(i, 100) // <- Add this
      document.getElementById('checkResponse').innerHTML += "\nYour transaction hash is ";
      document.getElementById('checkResponse').innerHTML += "<a href=\"https://ropsten.etherscan.io/tx/" + xhr.response.tx + "\" target=\"_blank\"> " + xhr.response.tx + " </a>";
      
    }
    else if (xhr.readyState == 4 && xhr.status != 200) {
      // Error. Inform the user
      raiseAlert(xhr.response.error)
    } else {
    raiseAlert(xhr.response.error)
    }
  })

  formData.append('upload_preset', 'ujpu6gyk')
  formData.append('file', file)
  xhr.send(formData)
}
</script>
</body>

</html>