<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documents certification v1.2</title>
    <link rel="icon" sizes="96x96" type="image/png" href="https://www.bouyguestelecom.fr/skin/frontend/bytel/default/medias/images/favicons/favicon-96x96.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/uploader.css">
     <style>
        * {
            font-family: /* system-ui,-apple-system,"Segoe UI", */ Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
        header {
            line-height: 50px;
        }

        /* <link rel="stylesheet" href="/uploader.css"> */
        .note {
            width: 500px;
            margin: 50px auto;
            font-size: 1.1em;
            color: #333;
            text-align: justify;
        }
        #drop-area {
            border: 2px dashed #ccc;
            border-radius: 20px;
            width: 480px;
            margin: 20px auto;
            padding: 20px;
        }
        #drop-area.highlight {
            border-color: blue;
        }
        p {
            margin-top: 0;
        }
        .my-form {
            margin-bottom: 10px;
        }
        #gallery {
            margin-top: 10px;
        }
        #gallery img {
            width: 150px;
            margin-bottom: 10px;
            margin-right: 10px;
            vertical-align: middle;
        }
        .button {
            display: inline-block;
            padding: 10px;
            background: #ccc;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid blue;
        }
        .button:hover {
            background: #ddd;
        }
        #fileElem {
            display: none;
        }
    </style>

</head>

<body>

    <header class="d-flex justify-content-between bd-highlight mb-3 border-bottom shadow-sm bg-light">
        <div class="p-2 bd-highlight"><img height="50px" src="logo-innovation-lab-v2.png" /></div>
        <div class="p-2 bd-highlight"><a href="/">BTrust &gt; <strong>VERIFY</strong></a></div>
        <div class="p-2 bd-highlight"><img height="50px" src="https://blog.webnet.fr/wp-content/uploads/2019/02/ethereum-logo.png"/></div>
    </header>

    <script lang="javascript">

        $(document).on('change', '.custom-file-input', function (event) {
            $(this).next('.custom-file-label').html(event.target.files[0].name);
        })


        
        function raiseAlert(message) {
            $('#alerts').append(
                '<div class="alert">' +
                '<button type="button" class="close" data-dismiss="alert" onclick="closeAlert()">' +
                '&times;</button>' + message + '</div>');
            $('#alerts').show();
        }

        function closeAlert() {
            $("#alerts").hide();
        }

       
    </script>
    <div id="alerts" class="alert alert-danger" role="alert" style="display:none;"></div>
    <div class="container">
        <div id="content">

           
               
                    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <p class="lead">Verify your document...<br>
                Drag and drop the file you want to verify in this area bellow.</p>
            <div id="alerts" class="alert alert-danger" role="alert" style="display:none;"></div>
        </div>

        <div id="drop-area">
            <form id="verifyOnFile" class="my-form" action="/verify" method="POST" enctype="multipart/form-data">
                <center>
                    <img src="upload.png" width="100px"><br>
                    <input type="file" id="fileElem" accept="image/*,.pdf,application/msword, application/pdf" onchange="handleFiles(this.files)">
                    <label class="button" class="w-100 btn btn-lg btn-outline-primary" for="fileElem">Validate</label>
                </center>
            </form>
            <progress id="progress-bar" max=100 value=0></progress>
            <div id="gallery" /></div>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-primary" onclick="cleanGallery()">Clear</button>
            <a class="btn btn-primary" href="/">Return Home</a>
        </div>

        <div id="checkResponse">
        </div>
        
        <footer class="pt-4 my-md-5 border-top">
            <div class="row">
                <div class="col-1 col-md text-center">
                    <small class="d-block mb-3 text-muted">&copy; Bouygues Telecom 2020</small>
                </div>
            </div>
        </footer>

        </div>
    </div>


    </div>
<script lang="javascript">
// ************************ Drag and drop ***************** //
let dropArea = document.getElementById("drop-area")

// Prevent default drag behaviors
;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
  dropArea.addEventListener(eventName, preventDefaults, false)   
  document.body.addEventListener(eventName, preventDefaults, false)
})

// Highlight drop area when item is dragged over it
;['dragenter', 'dragover'].forEach(eventName => {
  dropArea.addEventListener(eventName, highlight, false)
})

;['dragleave', 'drop'].forEach(eventName => {
  dropArea.addEventListener(eventName, unhighlight, false)
})

// Handle dropped files
dropArea.addEventListener('drop', handleDrop, false)

function preventDefaults (e) {
  e.preventDefault()
  e.stopPropagation()
}

function highlight(e) {
  dropArea.classList.add('highlight')
}

function unhighlight(e) {
  dropArea.classList.remove('active')
}

function handleDrop(e) {
  var dt = e.dataTransfer
  var files = dt.files

  handleFiles(files)
}

let uploadProgress = []
let progressBar = document.getElementById('progress-bar')
progressBar.style.visibility = "hidden"
function initializeProgress(numFiles) {
  progressBar.value = 0
  progressBar.style.visibility = "visible"
  uploadProgress = []

  for(let i = numFiles; i > 0; i--) {
    uploadProgress.push(0)
  }
}

function updateProgress(fileNumber, percent) {
  uploadProgress[fileNumber] = percent
  let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
  console.debug('update', fileNumber, percent, total)
  progressBar.value = total
}

function handleFiles(files) {
  files = [...files]
  initializeProgress(files.length)
  files.forEach(uploadFile)
  files.forEach(previewFile)
}

function previewFile(file) {
  let reader = new FileReader()
  reader.readAsDataURL(file)
  reader.onloadend = function() {
    let img = document.createElement('img')
    img.src = reader.result
    document.getElementById('gallery').appendChild(img)
  }
}

function cleanGallery(){
    progressBar.style.visibility = "hidden"
    document.getElementById('gallery').innerHTML = ""
    document.getElementById('checkResponse').innerHTML = ""
    progressBar.value = 0
}

function uploadFile(file, i) {
  var url = '/verify'
  var xhr = new XMLHttpRequest()
  xhr.responseType = 'json'
  var formData = new FormData()
  xhr.open('POST', url, true)
  xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

  // Update progress (can be used to show progress indicator)
  xhr.upload.addEventListener("progress", function(e) {
    updateProgress(i, (e.loaded * 100.0 / e.total) || 100)
  })

  xhr.addEventListener('readystatechange', function(e) {
    if (xhr.readyState == 4 && xhr.status == 200) {
      updateProgress(i, 100) // <- Add this
      document.getElementById('checkResponse').innerHTML = xhr.response.message
    }
    else if (xhr.readyState == 4 && xhr.status != 200) {
      // Error. Inform the user
      raiseAlert(xhr.response.error)
    } else {
    console.log(xhr)
      raiseAlert(xhr.response.message)
    }
  })

  formData.append('upload_preset', 'ujpu6gyk')
  formData.append('file', file)
  xhr.send(formData)
}
</script>
</body>

</html>