<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documents certification v1.2</title>
    <link rel="icon" sizes="96x96" type="image/png" href="https://www.bouyguestelecom.fr/skin/frontend/bytel/default/medias/images/favicons/favicon-96x96.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <script lang="javascript">

        $(document).on('change', '.custom-file-input', function (event) {
            $(this).next('.custom-file-label').html(event.target.files[0].name);
        })

        $('.alert .close').live("click", function (e) {
            $(this).parent().hide();
        });

        
        function raiseAlert(message) {
            $('#alerts').append(
                '<div class="alert">' +
                '<button type="button" class="close" data-dismiss="alert" onclick="closeAlert()">' +
                '&times;</button>' + message + '</div>');
            $('#alerts').show();
        }

        function closeAlert() {
            $("#alerts").hide();
        }


        function anchorOneFile() {
            var form = $('#anchoringFile');
            var formData = new FormData();
            formData.append('file', document.getElementById('customFile').files[0]);
            var url = form.attr('action');
            console.log("url:" + url);
            document.getElementById('txResponse').innerHTML = "";
          
            $.ajax({
                type: "POST",
                url: url,
                contentType: false,
                processData: false,
                cache: false,
                data: formData,
                success: function (response) {
                    console.log(response);
                    var obj = JSON.parse(JSON.stringify(response))

                    document.getElementById('txResponse').innerHTML += "\nYour transaction hash is ";
                    document.getElementById('txResponse').innerHTML += "<a href=\"https://ropsten.etherscan.io/tx/" + obj.tx + "\" target=\"_blank\"> " + obj.tx + " </a>";
                    // window.alert(obj.tx);
                },
                error: function (xhr,err) {
                    if (xhr.status === 401) {
                        raiseAlert("Your are not loggued, please login with your Google Account.");
                    } else {
                        var obj = JSON.parse(JSON.stringify(err))
                        raiseAlert("Error message: " +obj.error);
                    }
                }
            });
        }

        function verifyOneFile() {
            var form = $('#verifyOnFile');
            var formData = new FormData();
            var uploadFile = document.getElementById('customVerifyFile').files[0];
            formData.append('file', uploadFile);
            var url = form.attr('action');
            console.log("url:" + url);
            document.getElementById('checkResponse').innerHTML = "";
            $.ajax({
                type: "POST",
                url: url,
                contentType: false,
                processData: false,
                cache: false,
                data: formData,
                success: function (response) {
                    console.log(response);
                    var obj = JSON.parse(JSON.stringify(response))

                    document.getElementById('checkResponse').append(obj.message);
                    // window.alert(obj.tx);
                },
                error: function (err) {
                    if (err.status == 406) {
                        raiseAlert("Your transaction is still being proceed, please retry later.");
                    } else {
                        var obj = JSON.parse(JSON.stringify(err.responseJSON));
                        console.log(obj);
                        raiseAlert("Error your document \"" + uploadFile.name + "\" and your hash don't correspond, <br>  message: " + obj.error);
                    }
                }
            });
        }

        function getfile() {
            var txhash = document.getElementById('getfilehash').value.trim();
            var url = "/api/txhash/" + txhash;
            console.log(url);

            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    window.location = url;
                },
                error: function (err) {
                    var obj = JSON.parse(JSON.stringify(err));
                    console.log(obj);
                    if (obj.responseJSON) {
                        raiseAlert("Error <br>  message: " + obj.responseJSON.error);
                    } else {
                        raiseAlert("Error your document is not found, <br>");
                    }

                },
                statusCode:{
                    401: function() {
                        raiseAlert("Error message:Please login with Google Account.");
                    }
                }
            });
        }
    </script>
    <div id="alerts" class="alert alert-danger" role="alert" style="display:none;"></div>
    <div class="container">
        <div id="content">
            <nav class="nav nav-tabs">
                <a class="nav-item nav-link active" href="#home" data-toggle="tab">Home</a>
                <a href="#certificate" class="nav-item nav-link" data-toggle="tab">certify one document</a>
                <a href="#verify" class="nav-item nav-link" data-toggle="tab">verify one document</a>
                <a href="#getfile" class="nav-item nav-link" data-toggle="tab">get the file from tx</a>
            </nav>

            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="home">
                    <center>
                        <img width="100px" src="https://blog.webnet.fr/wp-content/uploads/2019/02/ethereum-logo.png">

                        <img width="200px" src="logo-innovation-lab-v2.png">
                        <h2>Welcome to bytel documents Ethereum block chain certifications.</h2>
                        <a href="/login"><button type="button" class="btn btn-primary">Login</button></a>
                    </center>
                </div>


                <div class="tab-pane" id="certificate">
                    Certify your document.<br><br><br>
                    <form id="anchoringFile" action="/api/anchor" method="POST" enctype="multipart/form-data">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="anchorOneFile()">Submit</button>
                       
                        <div id="txResponse"></div>
                    </form>
                </div>

                <div class="tab-pane" id="verify">
                    Check your document..<br><br><br>
                    <form id="verifyOnFile" action="/verify" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="documenthash">Hash of the document</label>
                            <small id="hashHelp" class="form-text text-muted">Please enter the certification hash of
                                your document.</small>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customVerifyFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="verifyOneFile()">Submit</button>
                        <div id="checkResponse">

                        </div>
                    </form>

                </div>
                <div class="tab-pane" id="getfile">
                    Get your certified file..<br><br><br>
                    <div class="form-group">
                        <label for="documenthash">Hash of the document</label>
                        <input type="text" class="form-control" id="getfilehash" aria-describedby="hashHelp"
                            placeholder="Enter the certification hash of your document.">
                        <small id="hashHelp" class="form-text text-muted">Please enter the certification hash of
                            your document.</small>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="getfile()">Get your file</button>
                </div>
            </div>

        </div>
    </div>


    </div>
</body>

</html>